<!--{subtemplate header}-->

<p>ViewTest\index.html</p>
<pre>
// 条件表达式
{if isset($a) && $a == 1}
	{echo $a}
{else}
	{echo 222}
{/if}

// foreach遍历数组两种写法 & 自动is_array($data)判断
{loop $data $key $val}
{$val}
{/loop}
<hr>
{loop $data $val}
{$val}
{/loop}

// 支持eval表达式, 所有PHP语法
{eval echo trim('123 ');}

// 另一种加载模版方法
{template Admin/index}

// 输出一个变量四种写法
<!--{$name}-->

{echo $name}

{$name}

<?=$name?>

// 日期输出三种写法
<!--{date(Ymd)}-->

{date(Ymd)}

<?=date(Ymd)?>

// 定向符例子
{block title}
test
aaaa
cccd
dddd
{/block}

// 输出定向符
{$title}

// 输出常量两种写法
{TEST_CONSTANTS}

<?=TEST_CONSTANTS?>

</pre>
// 加载模版
<!--{subtemplate footer}-->
